<% layout('../boilerplate') -%>

<textarea name="messageText" id="messageText" cols="50" rows="3"></textarea>
<div id="messageCounter">140</div>
<input type="submit" id="submit"/>
<table id="messageList"></table>