body {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 120%;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}

#messageText {
    border-radius: 5px;
}

#submit {
    font-size: 1.2em;
}

table {
    margin-top: 20px;
}

#messageList {
    margin-top: 20px;
    list-style-type: none;
    min-height: 200px;
}

header {
    margin-bottom: 20px;
    font-size: 1.5em;
}

footer {
    margin-top: 20px;
}

header, footer {
    background-color: lightgrey;
}